@import 'compass/reset';
@import "compass/css3";
body{
  color: #000;
  font-size: 0.14rem;
}
@media screen and (max-width: 3440px) {
  body{
    background: #eee url("../images/bg@3440.jpg") no-repeat fixed top center;
  }
}
@media screen and (max-width: 2880px) {
  body{
    background: #eee url("../images/bg@2880.jpg") no-repeat fixed top center;
  }
}
@media screen and (max-width: 1920px) {
  body{
    background: #eee url("../images/bg@1920.jpg") no-repeat fixed top center;
  }
}
@media screen and (max-width: 1000px) {
  body{
    background: #eeeeee;
  }
}
div{
  @include box-sizing(border-box);
}
input,textarea,button{
  outline:none;
  &:focus{
    border:none;
  }
}
a{
  text-decoration: none;
}
.f_del{
  text-decoration: line-through;
}
.fl_lt{
  float: left;
}
.fl_rt{
  float: right;
}
.ta_c{
  text-align: center;
}
.main{
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
}
